# Ignorar carpetas de documentos
documentos/
documentos_firmados/
documentos_rendicion/
documentos_visados/

# Ignorar archivos PDF en cualquier parte del proyecto
*.pdf

# Ignorar base de datos SQLite
*.sqlite3
