# Ignorar carpetas de documentos
# Ignorar archivos y carpetas específicas
.git/
well-know/
documentos/
documentos_firmados/
documentos_rendicion/
documentos_visados/

# Ignorar archivos PDF en cualquier parte del proyecto
*.pdf